.footer {
  &__row {
    @include flex-grid-row();
    min-height: 180px;
  }
  &__sitemap {
    @include flex-grid-column(6);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__socials{
    @include flex-grid-column(6);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}